.portfolio-heading {
  display: flex;
  justify-content: center;
  font-size: 34px;
}

.card-body {
  padding: 50px;
  background-color: darkslategrey;
  text-align: center !important;
  align-items: center !important;
  width: 400px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.card-body:hover {
  background-color: cadetblue;
  color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.card-img {
  width: 300px;
  border-radius: 20px;
}

.card-main-text {
  margin-top: 30px;
  font-size: 24px;
}

.glow-btn-card {
  display: inline-block;
  border: 2px solid lime;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: transparent;
  color: lime;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.glow-btn-card:hover {
  background-color: lime;
  color: black;
  box-shadow: 0 0 10px 2px lime;
}

.glow-btn-card a {
  color: inherit;
  text-decoration: none;
}

/* Base styles for the card-grid */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Add any additional styling you need for the cards or the grid container */
}

/* Styles for small screens (1 column) */
@media (max-width: 599px) {
  .card-grid {
    justify-content: center;
  }
}

/* Styles for medium screens (2 columns) */
@media (min-width: 600px) and (max-width: 959px) {
  .card-grid {
    justify-content: space-between;
  }
}

/* Styles for large screens (3 columns) */
@media (min-width: 960px) {
  .card-grid {
    justify-content: space-between;
  }
}

/* Adjust the width of the cards based on the number of columns */
/* For example, if you want 3 columns on large screens */
.card-grid .portfolio-card {
  /* Calculate the width for 3 columns (33.33% width) */
  width: 33.33%;
  /* Add any additional styling for the cards */
}
